.App {
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.bounding-box {
  top: 100px;
  left: 100px;
  width: 200px;
  height: 100px;
  position: absolute;
  border-style: dotted;
  border-color: red;
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}

.handle-tl {
  top: -3px;
  left: -3px;
}

.handle-br {
  bottom: -3px;
  right: -3px;
}

.point {
  width: 100;
  border-radius: 10px;
  border-style: solid;
  top: 230px;
  left: 350px;
  width: 10px;
  height: 10px;
  position: absolute;
  color: green;
}

.point span {
  position: relative;
  left: 20px;
  background: white;
  color: black;
}


